<header>
  <% if user_signed_in? %>
    <%= link_to 'New Gossip', gossips_new_path %><br />
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</header>
<content>
  <h1>Voici la liste des Gossips</h1>

<div class="container">
  <table >
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Gossip Id</th>
    <th>User Name</th>
    <th>Action</th>
    <th>Visualiser</th>

  </tr>
  </table>
  <% @gossips.each do |gossip| %>
  <table >
    <tr>
      <td><%= gossip.title %></td>
      <td><%= gossip.content %></td>
      <td><%= gossip.id %></td>
      <td><%= User.find(gossip.user_id).anonymous_username %></td>
      </td>
      <td><%= link_to 'Supprimer', gossip, method: :delete %></td>
      <td><%= link_to 'Visualiser', gossip_path(gossip) %></td>
    </tr>

  </table>
  <% end %>
</div>


<div class='container'>
  <a href="<%= new_gossip_path %>" class= 'btn btn-warning'>Créer un nouveau gossip</a>
</div>
</content>
