<header>
  <% if user_signed_in? %>
    <%= link_to 'New Gossip', gossips_new_path %><br />
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</header>
<content>
  <% @gossips.each do |u| %>
    <p>
      <%= u.title %> <br>
      <%= u.content %>
      <%= User.find(u.user_id).anonymous_username%>
      <%= u.datetime%>
      <%= link_to 'Delete this gossip', gossips_delete_path, method: :destroy %>
    </p>
  <% end %>
</content>
